@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Open+Sans:wght@300&display=swap");

.ANGER {
	font-family: "Creepster", cursive;
}

.JOY {
	font-family: "Hachi Maru Pop", cursive;
}

.neutral {
	font-family: "Open Sans", sans-serif;
}
