.textbox {
	position: absolute;
	top: 10%;
	right: 5%;
	height: 75%;
	width: 30%;
	background: orange;
}

.doneBtn {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}

.editBtn {
	position: absolute;
	top: 0;
	right: 0;
}
