.editPnl {
	position: absolute;
	top: 100px;
	left: 100px;
	height: 70%;
	width: 80%;
	background: rgb(109, 218, 109);
}

.settingsPnl {
	position: absolute;
	top: 100px;
	right: 100px;
	height: 70%;
	width: 20%;
	background: #037bfe;
}
